* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

/*  navigatie     */

nav {
    display: flex;
    height: 50px;
    font-size: 22px;
    justify-content: center;
    background-color: #1520A6;

}

nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 10px;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: grey;
    transition: .3s;
}

/* dropdown voor uitloggen voor nav */

/* footer */


footer {
    height: 50px;
    background-color: #1520A6;
    bottom: 0;
    position: fixed;
    width: 100%;
}

footer p {
    line-height: 100px;
    text-align: center;
    font-size: 15px;
}


/*  form styling ( inloggen, registeren & nieuwe-workouts.php  */
.account-pagina {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 10px);
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 30px;
}

.form-panel {
    max-width: 400px;
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
}

.form-panel h1 {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
    color: #007bff;

}

.form-panel input:not(:last-child) {
    margin-bottom: 10px;
}


.input-groep {
    margin-bottom: 10px;
}

.input-groep p {
    font-size: 12px;
    color: gray;
    padding-bottom: 10px;
    text-align: center;
}

.input-groep a {
    font-size: 14px;
}

.input-groep label {
    display: block;
    padding-bottom: 10px;
}


.button-container {
    text-align: center;
}

.input-button {
    width: 100%;
    height: 30px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



form {
    max-width: 400px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    height: 30px;
    margin: 0;
}

main {
    padding-bottom: 10px;
}

.radio-buttons {
    display: inline-flex;

    align-items: center;
}

.radio-buttons label {
    align-self: center;
}

.radio-buttons h2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.radio-buttons input[type="radio"] {
    margin-left: 5px;
}

/*  workouts.php styling */

div.container-table{
    display: flex;
    justify-content: center;
    padding: 30px;
}

table {
    width: 50%;
    border: 1px solid black;
}

td{
    width: 23%;
    text-align: left;
}

thead{
    background-color: black;
    color: white;
    
}

tbody{
   background-color: blue;
   color: white;
}

/*  tweede table voor workouts.php   */

/*  table styling voor gebruikers.php */