*{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    box-sizing: border-box;
    padding: 0 0;
    margin: 0 0;
}

/* #region scrollbar */
 /* width */
 ::-webkit-scrollbar {
    background: #555;
    width: 10px;
    scroll-behavior:smooth;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #555;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    visibility: hidden;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(rgb(255, 174, 0), rgb(243, 161, 85), rgb(255, 174, 0));
    border-radius: 10px;
  } 
/* #endregion scrollbar */

/* #region meerdere pagina's */
body{
    background-color: #f5f5f7;
    position: relative;
}

@media only screen and (max-width: 768px) {
    .page_height{
        min-height: 50vh;
    }
  }
  
.page_height{
    min-height: 100vh;
}

.container_img{
    display: flex;
    background-image: url(../img/imageGimp.png);
    image-rendering: optimizeQuality;
    image-rendering: optimizeSpeed;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    min-height: 100vh;
    width: 100%;
}

.container{
    width: 100%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
}

.container_width{
    width: 90%;
}

.line{
    height: 10px;
    width: auto;
    background-image: linear-gradient(#1d1d1f#ffae00);
}

.form_align{
    width: 100%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0px;
}

/* #endregion meerdere pagina's */

/* #region header.php */
.header_nav{
    background-color: rgb(42, 40, 40);
}

.header{
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo{
    image-rendering: optimizeSpeed;
    image-resolution: scale-down;
    mix-blend-mode:screen;
    max-height: 50px;
    max-width: 50px;
    margin: 8px;
    border: 1px solid rgb(18, 18, 18);
    border-radius: 50px;
}
/* #endregion header.php */

/* #region nav css */
nav{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 0;
}

nav ul {
    flex: 1;
    list-style: none;
    text-align: center;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    margin: 10px 30px;
    color: #f5f5f7;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #ffae00;
}

.icon a{
    display: inline-block;
    text-decoration: none;
    color: #f5f5f7;
    transition: all 0.3s ease;
}

.icon a:hover {
    color: #ffae00;
}

.icon i{
    margin: 0 10px;
}

.btn_contact{
    color: #f5f5f7;
    border-color: #f5f5f7;
    border-radius: 10px;
    align-content: center;
    padding: 5px;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn_contact:hover{
    color: #ffae00;
}

/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: #f5f5f7;
  padding: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 40px;
  align-self: center;
  transition: all 0.3s ease;
}
  
/* Dropdown button on hover & focus */
.dropbtn:hover{
  /* background-color: #2980B9; */
  background-color: rgb(189, 126, 0);
}

.dropbtn:focus {
  /* background-color: #2980B9; */
  background-color: rgb(189, 126, 0);
  border-radius: 10px 10px 0 0;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  align-self: center;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  /* background-color: #f1f1f1; */
  background-color: rgb(189, 126, 0);
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transform: translateX(-45%);
}
  
/* Links inside the dropdown */
.dropdown-content a {
  /* color: black; */
  color: #f5f5f7;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    /* background-color: #ddd; */
    background-color: rgb(241, 161, 0);
    border-radius: 10px;
}
  
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 
/* #endregion */

/* #region footer.php */
.footer_container{
    background-color: rgb(42, 40, 40);
}

.footer{
    align-content: bottom;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.footer h3{
    color: rgb(224, 214, 214);
}
/* #endregion footer.php */

/* #region index.php */
.modal-button{
    background-color: #1d1d1f00;
    color: #f5f5f7;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin: 10px 30px;
    transition: all 0.3s ease;
}

.modal-button:hover{
    color: #ffae00;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid #1d1d1f;
    border-radius: 10px;
    z-index: 10;
    background-color: #d8d8d8;
    width: 500px;
    max-width: 80%;
}

.modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.modal-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #1d1d1f;
}

.modal-header .title{
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body{
    padding: 10px 15px;
}

#overlay{
    position: fixed;   
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}
/* #endregion index.php */

/* #region login pagina + signup pagina*/
.form_login_signup{
    width: 700px;
    border: 2px solid #ccc;
    padding: 30px;
    background-color: #d8d8d8;
    border-radius: 15px;
}

.form_head{
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}

.form_group label{
    color:#888;
    font-size: 18px;
    padding: 10px;
}

.form_group input{
    display: block;
    background-color: #eaeaea;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.form_group input:hover{
    border-color: rgb(0, 60, 180);
}

.form_group_radio label{
    color:#888;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form_group_radio label:hover{
    color: rgb(0, 60, 180);
}

.form_group_radio input{
    width: 2rem;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.button_submit{
    float: right;
    background-color: rgb(0, 60, 180);
    padding: 10px 15px;
    color: #f5f5f7;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button_submit:hover{
    background-color: rgb(0, 100, 180);
}

.form_content_switch{
    font-size: 18px;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color:#555;
    transition: all 0.3s ease;
}

.form_content_switch:hover{
    text-decoration: underline;
    color: rgb(0, 60, 180);
}

.error{
    background: rgb(243, 140, 140);
    color: rgb(90, 18, 18);
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}
.success{
    background: rgb(98, 211, 143);
    color: rgb(0, 82, 20);
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}
/* #endregion login pagina + signup pagina */

/* #region users.php */
.container_scroll{
    display: flex;
    flex-direction: column;

    min-width: 1in;
    height: 8in;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
    scroll-behavior:smooth;
    margin: 20px 0;
    background-color: #888888c5;
    border-radius: 10px;
}

.container_scroll table{
    border-collapse: collapse;
    margin: 0;
    width: 100%;
    box-shadow: 0 0 5px #00000085;;
}

.container_scroll table tr{
    padding: .55em;
}

.container_scroll thead tr{
    background-color: #ffc505c7;
}

.container_scroll thead th{
    color: #1d1d1f;
    font-size: 1.15em;
}

.container_scroll tbody tr:nth-child(even){
    background-color: #9c9c9c85;
}

.container_scroll table th,
.container_scroll table td{
    font-size: 1em;
    padding: 1em;
    text-align: center;
}


.container_scroll table td input{
    padding: 2px;
    margin: 5px;
}

.btn-delete{
    font-size: 16px;
    color: #f5f5f7;
    align-content: center;
    padding: 8px 16px;
    margin: 14px;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    background-color: red;
    border-radius: 10px;
}

.btn-delete:hover{
    background-color: rgb(209, 65, 65);
}

.btn-update{
    font-size: 16px;
    color: #f5f5f7;
    align-content: center;
    padding: 8px 16px;
    margin: 14px;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    background-color: orange;
    border-radius: 10px;
}

.btn-update:hover{
    background-color: rgb(212, 148, 28);
}
/* #endregion users.php */

/* #region userUpdate.php */
@media only screen and (max-width: 768px) {
.form_userUpdate{
    width: 700px;
    border: 2px solid #ccc;
    padding: 30px;
    background-color: #d8d8d8;
    border-radius: 15px;
}

.form_head_user{
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}

.form_group_user label{
    color:#888;
    font-size: 18px;
    padding: 10px;
}
.form_group_user h3{
    color:#131313;
    font-size: 18px;
    padding: 10px;
}

.form_group_user input{
    display: block;
    background-color: #eaeaea;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.form_group_user input:hover{
    border-color: rgb(0, 60, 180);
}

.button_submit{
    float: right;
    background-color: rgb(0, 60, 180);
    padding: 10px 15px;
    color: #f5f5f7;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button_submit:hover{
    background-color: rgb(0, 100, 180);
}
}

@media only screen and (min-width: 768px) {
.form_userUpdate{
    min-width: 500px;
    border: 2px solid #ccc;
    padding: 30px;
    background-color: #d8d8d8;
    border-radius: 15px;
}

.form_head_user{
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}

.form_group_user_align{
    display: flex;
    flex-direction: column;
}

.form_group_user label{
    color:#888;
    font-size: 18px;
    padding: 10px;
}
.form_group_user h3{
    color:#131313;
    font-size: 18px;
    padding: 10px;
}

.form_group_user input{
    display: block;
    background-color: #eaeaea;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.form_group_user input:hover{
    border-color: rgb(0, 60, 180);
}

.button_submit{
    float: right;
    background-color: rgb(0, 60, 180);
    padding: 10px 15px;
    color: #f5f5f7;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button_submit:hover{
    background-color: rgb(0, 100, 180);
}
}
/* #endregion userUpdate.php */


 /* The alert message box */
 .alert {
    width: 500px;
    padding: 20px;
    background-color: #006214; /* Red */
    color: #f5f5f7;
    margin: 15px auto;
    border-radius: 20px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: #f5f5f7;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  } 

/* #region manager-dashboard.php */
.table__header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header .input-group {
    width: 35%;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

.table__header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
    overflow: overlay;
}

.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}

table {
    width: 100%;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    
    text-align: center;
    font-size: 1rem;
    
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
    border: 1.4px solid #6c00bd;
}

thead th:hover {
    color: #6c00bd;
}

thead th.active span.icon-arrow{
    background-color: #6c00bd;
    color: #fff;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: #6c00bd;
}

/* #endregion manager-dashboard.php */