* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    height: 100%;
}

/*  navigatie     */

nav {
    display: flex;
    height: 50px;
    font-size: 22px;
    justify-content: center;
    background-color: #1520A6;
    position: relative;
    width: 100%;
}

nav ul li {
    list-style-type: none;
    padding: 10px;
    text-align: center;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: black;
    border: 1px solid transparent;
}

nav ul {
    display: flex;
}

nav ul li a:hover {
    color: grey;
    transition: .3s;
}

.dropdown:hover .submenu {
    display: block;
    position: fixed;
}

.submenu {
    display: none;
    position: fixed;
}

.submenu-ruimte {
    padding-top: 15px;
    text-align: right;
}

.submenu-ruimte li {
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* footer */

footer {
    height: 50px;
    background-color: #1520A6;
    bottom: 0;
    position: fixed;
    width: 100%;
}

footer p {
    line-height: 100px;
    text-align: center;
    font-size: 15px;
}

main {
    height: 100%;
    padding-bottom: 20px;
}


/*  form styling ( inloggen, registeren, nieuwe-workouts.php & gebruikers.php  */
.account-pagina {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 10px); /* browser window minimaal hoogte en haal 10px van vh af  */ 
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 30px;
}

.form-panel {
    max-width: 400px;
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
}

.form-panel h1 {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
    color: #007bff;
}

.form-panel input:not(:last-child) { /* selecteer alles behalve de laatste input veld binnen form-panel*/
    margin-bottom: 10px;
}


.input-groep {
    margin-bottom: 10px;
}

.input-groep p {
    font-size: 12px;
    color: gray;
    padding-bottom: 10px;
    text-align: center;
}

.input-groep a {
    font-size: 14px;
}

.input-groep label {
    display: block;
    padding-bottom: 10px;
}


.button-container {
    text-align: center;
}

.input-button {
    width: 100%;
    height: 30px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.input-groep [type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    height: 30px;
    margin: 0;
}

.radio-buttons {
    display: inline-flex;
    align-items: center;
}

.radio-buttons label {
    align-self: center;
}

.radio-buttons h2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.radio-buttons input[type="radio"] {
    margin-left: 5px;
}

form {
    max-width: 400px;
}

/*  workouts.php & gebruikers.php styling */

table {
    color: white;
}

div.table-container {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    overflow-x: auto;
}

div.table-container2 {
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding-top: 40px;
    overflow-x: auto; /* voegt een scrollbalk toe als de table te groot is */
}

.table-workouts {
    width: 50%;
}

.table-workouts th,td {
    padding: 25px;
}

.table-gebruikers {
    width: 100%;
}

.table-gebruikers td {
    padding: 15px;
}

.table-gebruikers th {
    padding: 21.65px;
}

td {
    text-align: center;
}

thead {
    background-color: black;
}

tbody {
    background-color: green;
}

/* zoekbalk styling  */
.container-zoeken {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    width: 100%;
    margin-top: 10px
}

.container-zoeken input {
    padding-left: 10px
}

.search-button {
    height: 25px;
    padding: 5px 10px;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 0 3px 3px 0;
}

/* dashboards styling ( admin-dashboard.php manager-dashboard.php, , regular-daseboard.php  */

.dashboard-container {
    width: 960px;
    margin: 25px auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 500px;
}

.groet {
    display: block;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 10px;
}

.groet .admin {
    color: red;
}

.groet .manager {
    color: green;
}

.groet .regular {
    color: yellow;
}

.dashboard-details {
    padding-top: 20px;
}

.dashboard-details p {
    padding-bottom: 5px;
}

.dashboard-details h3 {
    padding-bottom: 5px;
}

.empty-space{
    height: 100px;
}

h1{
    text-align: center;
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.img-container{
    display: flex;
    justify-content: center;
}

img{
    height: 400px;
}
